/* BACKGROUND COLORS */
body {
    background-color: hsl(216, 12%, 8%);
}

.bg-ratingCard {
    background: linear-gradient(hsl(215, 34%, 19%), hsl(213, 42%, 15%));
}

.bg-star {
    background-color: hsl(210, 32%, 21%);
}

.center-box {
    width: 400px;
    height: 400px;
}

/* FONT STYLES*/

* {
    font-family: Overpass, sans-serif;
}

p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
}

/* BUTTON RATING STATE */
button[type="button"] {
    background-color: hsl(210, 32%, 21%);
    color: hsl(217, 12%, 63%);
}

button[type="button"]:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

button[type="button"].active {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

/* SUBMIT BUTTON */
button[type="submit"] {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    letter-spacing: 2px;
}

button[type="submit"]:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

/* THANK YOU STATE */

.bg-selection {
    background-color: hsl(210, 32%, 21%);
    color: hsl(25, 97%, 53%);
}